:root {
		/*		Colors		*/
		--color-red: #e74c3c;

		/*		img sizes	*/
		--img-blog-grid: 300px;
		--img-outstanding: 600px;
}

*{
	box-sizing: border-box;
	color: white;
}

body {
		background-color: black;
		margin: 0;
		padding: 0;
}

.flex-father {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}

.site-title {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 48px;
		margin: 10px;
}

.flex-nav {
		display: flex;
		justify-content: space-around;
		width: 75%;
		font-size: 24px;
		color: white;
		margin: 0;
}

.flex-main {
		display: flex;
		flex-direction: row;
		align-items: space-around;
		margin-top:5px;
		margin-left:50px;
		padding: 20px;
		justify-content: space-around;
		flex-wrap: wrap;
		box-sizing: border-box;
		color: white;
}

.menu-option {
		border-radius: 10px;
		padding: 10px;
		transition: background-color 0.3s ease;
}
.menu-option:hover {
		background-color: var(--color-red);
}

a {
		text-decoration: none;
		color: white;
}

img {
	width: 100%;
}

.row {
	display:flex;
	padding: 5px;
	flex-wrap: wrap;
}

.column {
	flex: 20%;
	padding: 5px;
}

.column img{
	margin-top: 5px;
	transition: transform 0.3s ease;
}

.column img:hover {	
	transform:scale(1.2);
	border-radius: 10px;
}

@media (max-width: 600px){
	.column{
		flex:100%;
	}
}

@media (max-width: 800px) {
	.column {
		flex:100%;
	}
}

/*---------------------------------------------*/
/*						HOME				   */
/*---------------------------------------------*/

main {
		display: flex;
		justify-content: center;
		align-items: center;
}

.main-container {
		display: grid;
		grid-template-columns: 1fr 9fr;
		grid-template-rows: 1fr 5fr;
		margin: 5px;
		width: 70%;
}

.main-container aside {
		grid-row: span 2; /* Le digo que aside ocupe 2 filas */
		
		ul {
				margin-top: 0;
				list-style-type: none;
		}
		li {
				margin: 5px;
				transform: 0.9s 0.9s ease;
		}
		li:hover {	
				background: var(--color-red);
				margin: 5px;
				border-radius: 5px;
				text-align: center;
		}
}

.outstanding {
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 9fr;
		gap: 20px;
		align-items: start;
}

.outstanding img {
		max-width: var(--img-outstanding);
		max-height: var(--img-outstanding);
		min-width: 400px;
		min-height: 400px;
}

.outstanding-content h2 {
		margin-top: 0;
		font-size: 36px;
}

.outstanding-content {
		margin: 0;		
}

.grid-blogs {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	padding: 10px;
	align-items: start;
}

.grid-blogs div{
		border: solid 1px white;
		display: grid;
		grid-template-columns: 1fr 3fr;
}

.grid-blogs img {
		width: var(--img-blog-grid);
		height: var(--img-blog-grid);
}

.leer {
    background: var(--color-red);
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

/*-----------------------------------------*/
/*					BLOG				   */
/*-----------------------------------------*/

.blog-entrada {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	width: 70%;
}
.blog-entrada img {
	max-width: 900px;
	max-height: 600px;
}

.blog-entrada  p {
	width: 100%;
}
