:root {
		/*		Colors		*/
		--color-primary: #000;
		--color-accent: #e74c3c;
		

		/*		img sizes	*/
		--img-blog-grid: 300px;
		--img-outstanding: 600px;
}

*{
	box-sizing: border-box;
	color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
		/*background-color: var(--color-primary);*/
		background-image: url(../assets/background-3.webp);
		background-size: cover;
		margin: 0;
		padding: 0;
}

.flex-father {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}

.site-title {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 48px;
		margin: 10px;
}

.flex-nav {
		display: flex;
		justify-content: space-around;
		width: 75%;
		font-size: 24px;
		color: white;
		margin: 0;
}

.asterisco {
		color: var(--color-accent);
		display: inline-block;
		transition: transform 0.3s ease;
}

.asterisco:hover {
		transform: scale(1.3) rotate(270deg);
}

.flex-main {
		display: flex;
		flex-direction: row;
		align-items: space-around;
		margin-top:5px;
		margin-left:50px;
		padding: 20px;
		justify-content: space-around;
		flex-wrap: wrap;
		box-sizing: border-box;
		color: white;
}

.menu-option {
		border-radius: 10px;
		padding: 10px;
		transition: background-color 0.3s ease;
}
.menu-option:hover {
		background-color: var(--color-accent);
}

a {
		text-decoration: none;
		color: white;
}

/*---------------------------------------*/
/*				IMÁGENES				 */
/*---------------------------------------*/

img {
	width: 100%;
}

.row {
	display:flex;
	padding: 5px;
	flex-wrap: wrap;
}

.column {
	flex: 10%;
	padding: 5px;
}

.column img{
	margin-top: 5px;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.column img:hover {	
	transform:scale(1.2);
	border-radius: 10px;
}

@media (max-width: 600px){
	.column{
		flex:100%;
	}
}

@media (max-width: 800px) {
	.column {
		flex:100%;
	}
}

#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-lightbox {
	max-width: 600px;
	max-height: 1000px;
	padding: 4px;
	background-color: black;
	border: 2px solid white;	
}

/*---------------------------------------------*/
/*						HOME				   */
/*---------------------------------------------*/

main {
		display: flex;
		justify-content: center;
		align-items: center;
}

.main-container {
		display: grid;
		grid-template-columns: 1fr 9fr;
		grid-template-rows: 1fr 5fr;
		margin: 5px;
		gap: 70px;
		width: 70%;
}

.main-container aside {
		grid-row: span 2; /* Le digo que aside ocupe 2 filas */
		justify-items: start;
		
		ul {
				margin-top: 0;
				list-style-type: none;
		}
		li {
				margin: 5px;
				transform: 0.9s 0.9s ease;
				padding: 5px;
		}
		li:hover {	
				background: var(--color-accent);
				margin: 5px;
				border-radius: 5px;
				text-align: center;
		}
}

.outstanding {
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 9fr;
		gap: 20px;
		align-items: start;
		margin-bottom: 20px;
}

.outstanding img {
		max-width: var(--img-outstanding);
		max-height: var(--img-outstanding);
		min-width: 300px;
		min-height: 300px;
}

.outstanding-content h2 {
		margin: 0;
		font-size: 36px;
}

.outstanding-content {
		margin: 0;		
}

.grid-blogs {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	padding: 10px;
	align-items: start;
}

.grid-blog-article {	
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 9fr;
		gap: 20px;
		align-items: start;
}

.grid-blogs img {
		width: var(--img-blog-grid);
		height: var(--img-blog-grid);
}

.grid-blogs-content {
		margin: 0;
}

.grid-blogs-content h3 {
		margin: 0;
}

.leer {
    background: var(--color-accent);
    margin-top: 10px;
	padding: 5px;
    border-radius: 5px;
    text-align: center;
	width: 50px;
}

/*-----------------------------------------*/
/*					BLOG				   */
/*-----------------------------------------*/

.blog-entrada {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	width: 70%;
}
.blog-entrada img {
	max-width: 2000px;
	max-height: 500px;
}

.blog-entrada  p {
	width: 100%;
	text-align: justify;
	margin: 10px;
}

.blog-entrada strong {
		color: var(--color-accent);
		font-size: 24px;

}

.firma {
		display: flex;
		justify-content: end;

}

.subtitulo {
	width: 100%;
}

.imgRecurso {
	width: 900px;
	max-height:600px;
}


figure figcaption{
	font-style: italic;
	font-size: 14px;
}

/* Para bloques de codigo */

pre {
	border: 1px double white;
	background-color: black;
	width: 100%;
	padding: 16px;
	text-align: center;
	box-sizing: border-box;
}

/* -----------------------  */

blockquote {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  background-color: rgba(56, 56, 56, 0.6);
  box-sizing: border-box;
  padding: 20px;
  overflow-wrap: break-word; /* evita que palabras largas se salgan */
  word-wrap: break-word;
}

.hashtag {
	text-align: right;
	color: green;
	font-weight: bold;
}

.fechaBlog {
	font-weight: bold;
}

/* Contenedor con fecha y hashtag */
.metaInfo {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}

/*-------------------------------------------------*/
/*					   ABOUT					   */
/*-------------------------------------------------*/


.about-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 40px;
	justify-content: center;
}

.about-container img {
	width: 350px;
	height: auto;
	border-radius: 50%;
	margin: 0;
}

.about-desc {
	width: 85%;
}


.hacker {
	background: linear-gradient(#1dbb08,#127505);
	/* Recortamos fondo para que solo se aplique el texto */
	-webkit-background-clip: text;
	background-clip: text;
	/* Volvemos el texto transparente para que se vea el fondo a través */
	-webkit-text-fill-color: transparent;
	color: transparent;
	
}

.maker {
	background: linear-gradient(#ffffff,#8b8b8b);
	/* Recortamos fondo para que solo se aplique el texto */
	-webkit-background-clip: text;
	background-clip: text;
	/* Volvemos el texto transparente para que se vea el fondo a través */
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.programmer {
	background: linear-gradient(#ffa048,#c27a37);
	/* Recortamos fondo para que solo se aplique el texto */
	-webkit-background-clip: text;
	background-clip: text;
	/* Volvemos el texto transparente para que se vea el fondo a través */
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.letA {
	animation: colorChange 3s linear infinite 0s;
}
.letD {
	animation: colorChange 3s linear infinite 0.75s;
}
.letH {
	animation: colorChange 3s linear infinite 1.5s;
}
.letD2 {
	animation: colorChange 3s linear infinite 2.25s;
}

@keyframes colorChange {
	0% {
		color: white;
	}
	50% {
		color:hotpink; 
	}
	100% {
		color: white;
	}
}

/*-----------------------------------------------------------------*/
/*						ABOUT-3DSPHERE							   */
/*-----------------------------------------------------------------*/

.sphere-container {
    width: 50px;
    height: 50px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

}
.sphere1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 2px red;
    position: absolute;
    animation: giroscopio1 4s ease-in infinite;
}

.sphere2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 2px blue;
    position: absolute;
    animation: giroscopio2 6s ease-in-out infinite 0.5s;
}

.sphere3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 2px green;
    position: absolute;
    animation: giroscopio3 5s ease-out infinite; 
}
@keyframes giroscopio1 {
    0% {
        rotate: 0deg;
        width: 100%;
    }
    50% {
        width: 40%;
        border: 4px pink solid;   
    }
    100% {
        rotate: -360deg;
        width: 100%;
    }
}

@keyframes giroscopio2 {
    0% {
        rotate: 0deg;
        width: 100%;
    }
    50% {
        width: 40%;
        border: 4px lime solid;   
    }
    100% {
        rotate: 360deg;
        width: 100%;
    }
}

@keyframes giroscopio3 {
    0% {
        rotate: 0deg;
        width: 100%;
    }
    50% {
         width: 40%;   
        border: 4px cyan solid;   
    }
    100% {
        rotate: 360deg;
        width: 100%;
    }
}
